@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  background-color: transparent;
}
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background-color: inherit;
}

button,
select {
  text-transform: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/* Mui */
.MuiDialog-paper {
  background-color: transparent !important;
  color: white !important;
}

.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.MuiBackdrop-invisible {
  background-color: transparent !important;
}

.MuiRating-iconEmpty {
  color: inherit !important;
}

.MuiRadio-root {
  color: white !important;
}

.MuiRadio-root svg {
  width: 1rem;
  height: 1rem;
}

.MuiDialog-container > .MuiDialog-paper {
  margin: 1rem !important;
}

@media screen and (max-width: 320px) {
  .MuiDialog-container > .MuiDialog-paper {
    margin: 1rem !important;
    width: 100%;
  }
}
/* Swiper */
.swiper {
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: relative;
}

.recipeSlider {
  margin: 2rem auto 0;
  max-width: 1180px;
  display: flex;
  align-items: center;
}
.recipeSlider .swiper-slide {
  width: 36.5rem;
  @media screen and (max-width: 428px) {
    width: 24rem;
  }
}
.recipeSlider .swiper-button-prev {
  padding-right: 2rem;
}
.recipeSlider .swiper-button-next {
  padding-left: 2rem;
}

.answerSlider {
  margin: 2rem auto 0;
  max-width: 1180px;
  display: flex;
  align-items: center;
}
.answerSlider .swiper-slide {
  width: 22rem;
  @media screen and (max-width: 428px) {
    width: 20rem;
  }
}
.answerSlider .swiper-button-prev {
  padding-right: 2rem;
}
.answerSlider .swiper-button-next {
  padding-left: 2rem;
}
